<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/Admin/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/Admin/Base_SysRole/Index" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Admin/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Admin/Base_SysLog/Index" Permission="sysLog.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="Crm" Icon="icon_menu_sys">
    <SecondMenu Name="客户管理">
      <ThirdMenu Name="用户管理" Url="~/Crm/Crm_Customer/Index" Permission="customer.search" />
      <ThirdMenu Name="报价组管理" Url="~/Crm/Crm_CusGroup/Index" Permission="cusgroup.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="Scm" Icon="icon_menu_sys">
    <SecondMenu Name="基础管理">
      <ThirdMenu Name="产品管理" Url="~/Scm/Scm_Product/Index" Permission="product.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="Oms" Icon="icon_menu_sys">
    <SecondMenu Name="销售管理">
      <ThirdMenu Name="订单管理" Url="~/Oms/Oms_Order/Index" Permission="order.search" />
      <ThirdMenu Name="订单明细管理" Url="~/Oms/Oms_OrdDetail/Index" Permission="orddetail.search" />
    </SecondMenu>
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/ProjectManage/Dev_Project/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
</SysMenu>